<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Information</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/profile.css}" rel="stylesheet">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section id="pageContainer">
    <section th:replace="products/productTemplate :: #navigationContainer"></section>
    <section id="contentContainer">
        <div id="profileNavContainer">
            <a href="/account/info">
                <div class="profileNav active" id="accountInfoButton">
                    <span>Account info</span>
                </div>
            </a>
            <a href="/account/collections" id="collectionsButton">
                <div class="profileNav">
                    <span>Tree collection</span>
                </div>
            </a>
            <a href="/account/orders" id="ordersButton">
                <div class="profileNav">
                    <span>Orders</span>
                </div>
            </a>
            <a href="/logout" id="logoutButton">
                <div class="profileNav">
                    <span>Log out</span>
                </div>
            </a>
        </div>
        <div id="details">
            <span id="formTitle">ACCOUNT INFO</span>
            <form action="/account/updateInfo" method="post" id="formUpdateInfo">
                <input type="number" name="id" th:value="${user.id}" hidden>
                <label for="inputPhoneNumber">Phone Number:</label>
                <input type="number" name="inputPhoneNumber" id="inputPhoneNumber" th:value="${user.phoneNumber}"
                       maxlength="15" required>
                <label for="inputEmail">Email:</label>
                <input type="email" name="inputEmail" id="inputEmail" th:value="${user.email}" maxlength="254" required>
                <label for="inputName">Name:</label>
                <input type="text" name="inputName" id="inputName" th:value="${user.name}" maxlength="80" required>
                <label for="inputStreetAddress">Street Name:</label>
                <input type="text" name="inputStreetAddress" id="inputStreetAddress" th:value="${user.streetAddress}"
                       maxlength="99" required>
                <label for="inputCity">City:</label>
                <input type="text" name="inputCity" id="inputCity" th:value="${user.city}" maxlength="50" required>
                <label for="inputPostcode">Postcode:</label>
                <input type="text" name="inputPostcode" id="inputPostcode" th:value="${user.postcode}" maxlength="15"
                       required>
            </form>
            <button type="submit" id="accountInfoSubmitBtn" form="formUpdateInfo">Update Info</button>
        </div>
    </section>
    <section th:replace="products/productTemplate :: #footerContainer"></section>
</section>
</body>
</html>