<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Account Information</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/profile.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section id="pageContainer">
    <section th:replace="products/productTemplate :: #navigationContainer"></section>
    <section id="contentContainer">
        <div id="profileNavContainer">
            <a href="/account/info">
                <div class="profileNav active" id="accountInfoButton">
                    <span>Account info</span>
                </div>
            </a>
            <a href="/account/collections" id="collectionsButton">
                <div class="profileNav">
                    <span th:text="#{account.tree.collection}"></span>
                </div>
            </a>
            <a href="/account/orders" id="ordersButton">
                <div class="profileNav">
                    <span th:text="#{account.orders}"></span>
                </div>
            </a>
            <a href="/logout" id="logoutButton">
                <div class="profileNav">
                    <span th:text="#{account.log.out}"></span>
                </div>
            </a>
        </div>
        <div id="details">
<!--            <span id="formTitle">ACCOUNT INFO</span>-->
            <form action="/account/updateInfo" method="post" id="formUpdateInfo" class="inputBoxField" style="margin: 7vh 0">
                <input type="number" name="id" th:value="${user.id}" hidden>

                <label for="inputPhoneNumber"><span th:text="#{basket.phone.number}"></span></label>
                <input type="number" name="inputPhoneNumber" id="inputPhoneNumber" th:value="${user.phoneNumber}"
                       maxlength="15" required>

                <label for="inputEmail"><span th:text="#{basket.email}"></span></label>
                <input type="email" name="inputEmail" id="inputEmail" th:value="${user.email}" maxlength="254" required>

                <label for="inputName"><span th:text="#{basket.names}"></span></label>
                <input type="text" name="inputName" id="inputName" th:value="${user.name}" maxlength="80" required>

                <label for="inputStreetAddress"><span th:text="#{basket.street.address}"></span></label>
                <input type="text" name="inputStreetAddress" id="inputStreetAddress" th:value="${user.streetAddress}"
                       maxlength="99" required>

                <label for="inputStreetAddress2"><span th:text="#{basket.street.address2}"></span></label>
                <input type="text" name="inputStreetAddress2" id="inputStreetAddress2" th:value="${user.streetAddress2}"
                       maxlength="99">

                <label for="inputCity"><span th:text="#{basket.city}"></span></label>
                <input type="text" name="inputCity" id="inputCity" th:value="${user.city}" maxlength="50" required>

                <label for="inputPostcode"><span th:text="#{basket.post.code}"></span></label>
                <input type="text" name="inputPostcode" id="inputPostcode" th:value="${user.postcode}" maxlength="15"
                       required>

                <label for="inputCountry"><span th:text="#{basket.country}"></span>
                    <select name="inputCountry" id="inputCountry" th:field="${user.country}">
                        <option value="Denmark"><span th:text="#{basket.denmark}"></span></option>
                        <option value="Other"><span th:text="#{basket.other}"></span></option>
                    </select>
                </label>
            </form>
            <button style="margin-bottom: 9vh" type="submit" id="accountInfoSubmitBtn" form="formUpdateInfo"><span th:text="#{basket.update.info}"></span></button>
        </div>
    </section>
    <section th:replace="products/productTemplate :: #footerContainer"></section>
</section>
</body>
</html>