<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/products.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/forgotPassword.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:replace="products/productTemplate :: #googleAnalyticsScript1"></script>
    <script th:replace="products/productTemplate :: #googleAnalyticsScript2"></script>
</head>
<body>
<section th:replace="products/productTemplate :: #navigationContainer"></section>
<section id="contentContainer">
    <div id="content">
        <div id="productContainer">
            <div id="product" style="display: flex; flex-direction: column">
                <label for="forgotInputEmail" style="font-size: var(--fontRegular)"><span th:text="#{home.subscribe.input}"></span></label>
                <input type="email" id="forgotInputEmail" class="forgotInput" maxlength="255"
                       placeholder="Your email...">
                <input type="submit" value="Send password reset link" id="forgotSubmitBtn" class="forgotSubmit"
                       onclick="sendPasswordResetRequest()">
            </div>
            <script>
                function sendPasswordResetRequest()
                {
                    const email = document.getElementById("forgotInputEmail").value;
                    if (email === "")
                    {
                        console.log("The email input field cannot be empty");
                        showBasketPopup("The email cannot be empty", true);
                        return;
                    }
                    fetch(location.origin + "/forgotPassword/" + email).then(
                        response =>
                        {
                            if (response.status === 200)
                            {
                                console.log("The password reset link has been sent");
                                showBasketPopup("The password reset link has been sent to " + email, false);
                            } else
                            {
                                console.log("Something went wrong while sending a reset link, request status: " + response.status);
                                showBasketPopup("Something went wrong while sending a reset link, please try again later", true)
                            }
                        }
                    )
                }
            </script>
        </div>
    </div>
</section>
<section th:replace="products/productTemplate :: #footerContainer"></section>
</body>
</html>