<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/profile.css}" rel="stylesheet">
    <link th:href="@{/styles/orders.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/orders.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section id="pageContainer">
    <section th:replace="products/productTemplate :: #navigationContainer"></section>
    <section id="contentContainer">
        <div id="profileNavContainer">
            <a href="/account/info">
                <div class="profileNav" id="accountInfoButton">
                    <span>Account info</span>
                </div>
            </a>
            <a href="/account/collections" id="collectionsButton">
                <div class="profileNav">
                    <span th:text="#{account.tree.collection}"></span>
                </div>
            </a>
            <a href="/account/orders" id="ordersButton">
                <div class="profileNav active">
                    <span th:text="#{account.orders}"></span>
                </div>
            </a>
            <a href="/logout" id="logoutButton">
                <div class="profileNav">
                    <span th:text="#{account.log.out}"></span>
                </div>
            </a>
        </div>
        <div id="details">
            <section class="orderContainer">
                <div class="orderHeader">
                    <span class="orderStatus orderInfo">Status: N/A</span>
                    <span class="orderDateCreated orderInfo">Created on: N/A</span>
                    <span class="orderExpectedDelivery orderInfo">Expected Delivery Date: N/A</span>
                </div>
                <div class="orderDesignInfo orderInfo">
                    <span class="orderTitle">Designs:</span>
                    <section class="orderDesignContainer">
                        <span style="display: none" class="orderDesignId orderDesignEntry">id</span>
                        <span class="orderDesignName orderDesignEntry">N/A</span>
                        <span class="orderDesignSize orderDesignEntry">XxX cm</span>
                        <span class="orderDesignAmount orderDesignEntry">amount: N/A</span>
                        <span class="orderDesignPrice orderDesignEntry">price: N/A</span>
                        <input type="button" class="viewDesignBtn" onclick="viewDesign(this)" value="View">
                    </section>
                </div>
                <div class="orderShipmentInfo orderInfo">
                    <span class="orderTitle">Delivery Address:</span>
                    <span class="orderAddressStreetName">Street: N/A</span>
                    <span class="orderAddressCity">City: YN/A</span>
                    <span class="orderAddressPostcode">Postcode: N/A</span>
                </div>
                <span class="orderTotalPrice orderInfo">Total Price: N/A dkk</span>
                <span class="orderTransactionId orderInfo">Order Id: N/A</span>
            </section>
            <span id="orderInfoDisclaimer" th:text="#{basket.issue.text}"></span>
            <script>generateOrders()</script>
        </div>
    </section>
    <section th:replace="products/productTemplate :: #footerContainer"></section>
</section>
</body>
</html>