<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/products.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/forgotPassword.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section th:replace="products/productTemplate :: #navigationContainer"></section>
<section id="contentContainer">
    <div id="content">
        <div id="productContainer">
            <div id="product" style="display: flex; flex-direction: column">
                <h2>Reset Password</h2>
                <input type="hidden" id="resetId" th:value="${resetId}">
                <input type="hidden" id="resetToken" th:value="${resetToken}">
                <label for="newPasswordInput" style="font-size: var(--fontRegular)">New password:</label>
                <input type="password" id="newPasswordInput" class="forgotInput" maxlength="64"
                       placeholder="New password...">
                <label for="newPasswordInput2" style="font-size: var(--fontRegular)">Repeat password:</label>
                <input type="password" id="newPasswordInput2" class="forgotInput" maxlength="64"
                       placeholder="Repeat password...">
                <input type="submit" value="Update password" id="updatePasswordBtn" class="forgotSubmit"
                       onclick="updatePassword()">
            </div>
            <script>
                function updatePassword()
                {
                    const password1 = document.getElementById("newPasswordInput").value;
                    const password2 = document.getElementById("newPasswordInput2").value;
                    if (password1 === "" || password2 === "")
                    {
                        console.log("The password field cannot be empty");
                        showBasketPopup("The password field cannot be empty", true);
                        return;
                    }
                    if (password1 !== password2)
                    {
                        console.log("The passwords don't match");
                        showBasketPopup("The passwords don't match", true);
                        return;
                    }

                    const newPasswordInfo =
                        {
                            "resetId": document.getElementById("resetId").value,
                            "resetToken": document.getElementById("resetToken").value,
                            "newPassword": document.getElementById("newPasswordInput").value
                        }

                    fetch(location.origin + "/updatePassword",
                        {
                            method: "POST",
                            headers: {'Content-type': 'application/json'},
                            body: JSON.stringify(newPasswordInfo)
                        }).then(
                        response =>
                        {
                            if (response.status === 200)
                            {
                                console.log("The password has been updated");
                                showBasketPopup("The password has been updated. You can log in now", false);
                            } else
                            {
                                console.log("Something went wrong while updating the password, request status: " + response.status);
                                showBasketPopup("Something went wrong while updating the password, please try again later", true)
                            }
                        }
                    )
                }
            </script>
        </div>
    </div>
</section>
<section th:replace="products/productTemplate :: #footerContainer"></section>
</body>
</html>