<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family Tree</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/products.css}" rel="stylesheet">
    <link th:href="@{/styles/familyTree.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <script th:src="@{/js/familyTree.js}"></script>
</head>
<body>
<section id="navigationContainer">
    <nav id="navBar">
        <div id="navBar-left">
            <a href="/facebook"><img th:src="@{~/img/icons/facebookIcon.png}" alt="facebook" id="facebookIcon"
                                     class="icon"></a>
            <a href="/instagram"><img th:src="@{~/img/icons/instagramIcon.png}" alt="instagram" id="instagramIcon"
                                      class="icon"></a>
            <a href="/index"><img th:src="@{~/img/icons/logoIcon.png}" alt="treecreate" id="treecreateLogo"
                                  class="icon"></a>
        </div>
        <div id="navbar-right">
            <a href="/login">Login</a>
            <a href="/shoppingBasket"><img th:src="@{~/img/icons/shoppingBasketIcon.png}" alt="basket"
                                           id="shoppingBasketIcon" class="icon"> (0) Items</a>
            <a href="/aboutUs">About Us</a>
            <a href="/specialRequest">Special Request</a>
        </div>
    </nav>
</section>
<section id="contentContainer">
    <!-- Draggable Box -->
    <div id="draggableBoxContainer">
        <div class="draggableBox">
            <input type="text">
            <button class="deleteDraggableBoxButton" onclick="deleteBox(this)">
                <img th:src="@{~/img/icons/deleteDraggableBoxIcon.png}" alt="delete box"
                     class="deleteDraggableBoxIcon icon">
            </button>
        </div>
    </div>

    <div id="content">
        <div id="productContainer">
            <div id="product">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc sit amet convallis nisi. Sed ac sem
                    nec
                    velit facilisis euismod. Phasellus ex ex, ultrices ut fermentum non, eleifend et nisl. Etiam nec dui
                    felis. Duis a dui interdum tellus dapibus scelerisque. Donec euismod eu libero a fringilla. Quisque
                    blandit a augue sit amet egestas. Fusce quis risus sit amet leo aliquet porta eget eu diam. In
                    rhoncus
                    tortor at mollis auctor. Ut in lacinia ipsum. Duis laoreet nisl nibh, ut iaculis leo sagittis ut.
                    Proin
                    enim sapien, mollis sed ligula a, suscipit convallis risus. Integer ullamcorper convallis enim
                    scelerisque sollicitudin.
                    Watashi wa Family Tree
                </p>
            </div>
        </div>
    </div>
</section>
</body>
</html>