<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Family Tree</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/products.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
</head>
<body>
<!-- ============================================================================ -->
<!-- This page is only used for static prototyping purposes                       -->
<!-- This document tests imports from "products/productTemplate.html" at runtime. -->
<!-- ============================================================================ -->
<section th:replace="products/productTemplate :: #navigationContainer"></section>
<section th:replace="products/productTemplate :: #contentContainer"></section>
<section th:replace="products/productTemplate :: #footerContainer"></section>
</body>
</html>