<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf is a template engine which ties frontend and backend -->
<head>
    <meta charset="UTF-8">
    <title>Create New Account</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <script src="https://use.fontawesome.com/9d779ee93e.js"></script>
</head>
<body>
<section id="content">
    <div id="contentWrapper">
        <div id="credentialsSection">
            <img th:src="@{~/img/create-account-logo.png}" class="logo" alt="Treecreate">
            <h2>Treecreate</h2>
            <form action="/submitNewAccount" method="post">
                <i class="fa fa-envelope-o" aria-hidden="true"></i><input type="text" id="email" name="email"
                                                                      placeholder="email" maxlength="50" required><br>
                <i class="fa fa-user-o" aria-hidden="true"></i><input type="text" id="username" name="username"
                                                                          placeholder="username" maxlength="30"
                                                                          required><br>
                <i class="fa fa-shield" aria-hidden="true"></i><input type="password" id="password" name="password"
                                                                      placeholder="password" maxlength="60"
                                                                      required><br>
                <button type="submit">Create Account</button>
            </form>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footerSection">
        <a href="/login">Sign in <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
</footer>

</body>
</html>