<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Thymeleaf is a template engine which ties frontend and backend -->
<head>
    <meta charset="UTF-8">
    <title>Login Successful</title>
    <script src="https://use.fontawesome.com/9d779ee93e.js"></script>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
</head>
<body>
<section id="content">
    <div id="contentWrapper">
        <div id="credentialsSection">
            <img th:src="@{~/img/logo.png}" class="logo" alt="cursed">
            <h2>Login Successful</h2>
            <h2 th:text="'Username: ' + ${username}"></h2>
            <h2 th:text="'Email: ' + ${email}"></h2>
            <h2 th:text="'Access Level: ' + ${accessLevel}"></h2>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="footerSection">
        <a href="/logout">Logout <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </div>
</footer>

</body>
</html>