<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/basket.css}" rel="stylesheet">
    <script th:src="@{/js/login.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section id="pageContainer">
    <section th:replace="products/productTemplate :: #navigationContainer"></section>
    <section id="contentContainer">
        <div id="basketContainer">
            <section class="basketSection">
                <section id="customerInformation" class="informationSection border">
                    <span id="formTitle" class="title">ACCOUNT INFO</span>
                    <input type="number" name="id" value="1" hidden>
                    <label for="inputPhoneNumber">Phone Number:</label>
                    <input type="number" name="inputPhoneNumber" id="inputPhoneNumber" value="1234567"
                           maxlength="15" required>
                    <label for="inputEmail">Email:</label>
                    <input type="email" name="inputEmail" id="inputEmail" value="test@treecreate.dk" maxlength="254"
                           required>
                    <label for="inputName">Name:</label>
                    <input type="text" name="inputName" id="inputName" value="Name" maxlength="80" required>
                    <label for="inputStreetAddress">Street Name:</label>
                    <input type="text" name="inputStreetAddress" id="inputStreetAddress" value="Nordgade 11/a"
                           maxlength="99" required>
                    <label for="inputCity">City:</label>
                    <input type="text" name="inputCity" id="inputCity" value="Copenhagen" maxlength="50" required>
                    <label for="inputPostcode">Postcode:</label>
                    <input type="text" name="inputPostcode" id="inputPostcode" value="2100" maxlength="15"
                           required>
                    <label for="checkboxNewsletter">
                        <input type="checkbox" name="checkboxNewsletter" id="checkboxNewsletter">  subscribe to newsletter
                    </label>
                </section>
                <section id="orderInformation" class="informationSection border">
                    <table>
                        <tr>
                            <th>Amount</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Total</th>
                            <th>Save</th>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Family Tree - Large</td>
                            <td>1000kr</td>
                            <td>2000kr</td>
                            <td>0kr</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Friend Tree - Small</td>
                            <td>500kr</td>
                            <td>1500kr</td>
                            <td>500kr</td>
                        </tr>
                        <tr style="border-top: 1px solid var(--mainColor); margin-top: 1vh;">
                            <td>Total Price</td>
                            <td></td>
                            <td></td>
                            <td>3500kr</td>
                            <td>500kr</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td></td>
                            <td></td>
                            <td>375kr</td>
                            <td></td>
                        </tr>
                    </table>
                </section>
            </section>
            <section class="basketSection">
                <div id="acceptOrder" class="border">
                    <label for="termsAndConditionsCheckbox">
                        <input id="termsAndConditionsCheckbox" name="termsAndConditions" type="checkbox">
                        I have read the Terms and Conditions bullshit
                        </label>
                    <button>Accept Order & Pay</button>
                </div>
            </section>
        </div>
    </section>
    <section th:replace="products/productTemplate :: #footerContainer"></section>
</section>
</body>
</html>