<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Basket</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link th:href="@{/styles/basket.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/addToBasket.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:replace="products/productTemplate :: #googleAnalyticsScript1"></script>
    <script th:replace="products/productTemplate :: #googleAnalyticsScript2"></script>
</head>
<body>
<section id="pageContainer">
    <section th:replace="products/productTemplate :: #navigationContainer"></section>
    <section id="contentContainer">
        <div id="basketContainer">
            <section class="basketSection">
                <section id="customerInformation" class="informationSection border">
                    <span id="formTitle" class="title"><span th:text="#{basket.delivery.info}"></span></span>
                    <input type="number" name="id" th:value="${user.id}" hidden>

                    <label for="inputName"><span th:text="#{basket.names}"></span></label>
                    <input type="text" name="inputName" id="inputName" th:value="${user.name}" maxlength="80" required>

                    <label for="inputPhoneNumber"><span th:text="#{basket.phone.number}"></span></label>
                    <input type="number" name="inputPhoneNumber" id="inputPhoneNumber" th:value="${user.phoneNumber}"
                           maxlength="15" required>

                    <label for="inputEmail">Email</label>
                    <input type="email" name="inputEmail" id="inputEmail" th:value="${user.email}" maxlength="254"
                           required>

                    <label for="inputStreetAddress"><span th:text="#{basket.street.address}"></span></label>
                    <input type="text" name="inputStreetAddress" id="inputStreetAddress"
                           th:value="${user.streetAddress}"
                           maxlength="99" required>

                    <label for="inputStreetAddress2"><span th:text="#{basket.street.address2}"></span></label>
                    <input type="text" name="inputStreetAddressTwo" id="inputStreetAddress2"
                           th:value="${user.streetAddress2}"
                           maxlength="99">
                    <label for="inputCity"><span th:text="#{basket.city}"></span></label>
                    <input type="text" name="inputCity" id="inputCity" th:value="${user.city}" maxlength="50" required>

                    <label for="inputPostcode"><span th:text="#{basket.post.code}"></span></label>
                    <input type="text" name="inputPostcode" id="inputPostcode" th:value="${user.postcode}"
                           maxlength="15"
                           required>

                    <label for="inputCountry">Country:</label>
                    <select name="inputCountry" id="inputCountry" th:field="${user.country}">
                        <option value="Denmark"><span th:text="#{basket.denmark}"></span></option>
                        <option value="Other"><span th:text="#{basket.other}"></span></option>
                    </select>

                    <label for="checkboxNewsletter">
                        <input type="checkbox" name="checkboxNewsletter" id="checkboxNewsletter"> <span
                            th:text="#{basket.subscribe}"></span>
                    </label>
                </section>
                <section id="orderInformation" class="informationSection border">
                    <table id="orderTable">
                        <tr>
                            <th><span th:text="#{basket.amount}"></span></th>
                            <th><span th:text="#{basket.prod}"></span></th>
                            <th><span th:text="#{basket.total}"></span></th>
                        </tr>
                        <tr class="orderRow" style="display: none">
                            <td class="orderAmount">N/A</td>
                            <td class="orderProduct">Family Tree - N/A</td>
                            <td class="orderTotal">N/A</td>
                        </tr>
                    </table>
                    <section id="orderSummary">
                        <table>
                            <tr>
                                <td class="orderSummaryFiller taxRow"></td>
                                <td class="orderSummaryText taxRow"><span th:text="#{basket.tax}"></span></td>
                                <td class="orderSummaryValue taxRow" id="totalTax" style="padding-left: 1vw">0</td>
                            </tr>
                            <tr>
                                <td class="orderSummaryFiller discountRow"></td>
                                <td class="orderSummaryText discountRow">Discount</td>
                                <td class="orderSummaryValue discountRow"
                                    id="totalDiscount" style="padding-left: 1vw"> 0
                                </td>
                            </tr>
                            <tr>
                                <td class="orderSummaryFiller totalPriceRow"></td>
                                <td class="orderSummaryText totalPriceRow"><span th:text="#{basket.total.price}"></span>
                                </td>
                                <td class="orderSummaryValue totalPriceRow"
                                    id="totalPrice" style="padding-left: 1vw"> 0
                                </td>
                            </tr>
                            <script>loadOrders()</script>
                        </table>
                        <section id="discountCode">
                            <label for="inputDiscountCode">Discount Code:</label>
                            <input id="inputDiscountCode" placeholder="ex. ABC123" maxlength="25"><br>
                            <input type="button" id="applyDiscountBtn" onclick="applyDiscount()" value="Apply discount">
                        </section>
                    </section>
                </section>
            </section>
            <section class="basketSection">
                <div id="acceptOrder" class="border" style="border:none!important;" >
                    <label for="termsAndConditionsCheckbox">
                        <input id="termsAndConditionsCheckbox" name="termsAndConditions" type="checkbox" required>
                        <span th:text="#{basket.terms.and.conditions.text}"></span> <a
                            href="/orderTermsAndConditionsDanish" target="_blank" class="termsAndConditionsLink">
                        <span th:text="#{basket.terms.and.conditions.link}" class="termsAndCondition"></span></a>
                    </label>
                    <button onclick='goToPayment()' id="acceptAndPay" style="background-color:#28C553;"><span th:text="#{basket.accept.and.pay}"></span></button>
                </div>
            </section>
        </div>
    </section>
    <section th:replace="products/productTemplate :: #footerContainer"></section>
</section>
</body>
</html>