<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/aboutUs.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<section id="pageContainer">
    <section th:replace="products/productTemplate :: #navigationContainer"></section>
    <section id="contentContainer">
        <div id="content">
            <div id="aboutUsContainer">
                <div id="aboutUs">
                    <section id="generalInformation">
                        <span class="title">About US</span><br><br>
                        <span class="subTitle">Product</span><br>
                        <p>
                            Unique wood design. You get to pick the design and then create your own tree with the names
                            and text
                            you want. With several options of changing design, fonts and text, every product becomes
                            unique and
                            personal.
                        </p>

                        <span class="subTitle">Goal</span><br>
                        <p>
                            We aim to support wildlife and forests around the world by donating a percentage to
                            foundations
                            like
                            #TeamTrees that focus on planting trees. when you purchase something you automatically also
                            plant a
                            tree. You also have the option plant several extra trees when you order.

                            Our packaging is made of recycled plastic and paper and bio degradable paper tape. We focus
                            on
                            minimizing plastic production and try to have as much of the materials in the production be
                            reuse of
                            wood so no more trees are cut down.

                            Last but not least, we want to give every customer a personal and unique tree design that
                            they
                            can
                            use personally or as a great gift to friends and family. Our products are partially hand
                            made
                            and
                            the rest is up to the laser that cuts in great detail to make an astonishing work of art for
                            the
                            customer.
                        </p>

                        <span class="subTitle">Company</span><br>
                        <p>
                            Founded in 2020 by a small team of students from KEA.
                        </p>
                    </section>
                    <section id="development">
                        <img th:src="@{~/img/images/treeDesign/design1.svg}" alt="Tree Design" class="image">
                        <div class="text">
                            <span class="title">Development</span>
                            <p>
                                We are a small team of designers and coders working together on treecreate. Our
                                designers
                                create designs for the products as well as our website. Our coders ensure a high quality
                                and
                                user-friendly website so you can share your create, share and purchase the tree designs
                                quickly and easily.
                            </p>
                        </div>
                    </section>

                    <section id="familytrees">
                        <div class="text">
                            <span class="title">Familytress</span>
                            <p>
                                The tree-design that you create can be a variety of things like friends tree or a front
                                door
                                post with the residents. But the main use for the tree designs is definitely the
                                family tree.
                                Here are some examples of the familytrees that have been created by some of our
                                customers
                            </p>
                        </div>

                        <div class="imageCollection">
                            <img th:src="@{~/img/icons/profileIcon.svg}" alt="Tree Design" class="image">
                            <img th:src="@{~/img/icons/mailIcon.svg}" alt="Mail" class="image">
                            <img th:src="@{~/img/icons/shoppingBasketIcon.svg}" alt="Basket" class="image">
                            <img th:src="@{~/img/icons/danishTransportIcon.svg}" alt="Transport" class="image">
                        </div>
                    </section>

                    <section id="specialRequests">

                        <div class="imageCollection">
                            <img th:src="@{~/img/icons/profileIcon.svg}" alt="Tree Design" class="image">
                            <img th:src="@{~/img/icons/mailIcon.svg}" alt="Mail" class="image">
                            <img th:src="@{~/img/icons/shoppingBasketIcon.svg}" alt="Basket" class="image">
                            <img th:src="@{~/img/icons/danishTransportIcon.svg}" alt="Transport" class="image">
                        </div>
                        <div class="text">
                            <span class="title">Special Requests</span>
                            <p>
                                With special requests you can ask for an even more specialized and unique design for
                                your
                                product. We respond as fast as possible and craft it right away here in the heart of
                                Denmark.

                                Here are a couple of examples from some of our happy customers. Feel free to submit your
                                own
                                request, then we will se what we can do for you.
                            </p>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section th:replace="products/productTemplate :: #footerContainer"></section>
</section>
</body>
</html>