<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Treecreate</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/landingPagePopup.css}" rel="stylesheet">
    <link th:href="@{/styles/landingPage.css}" rel="stylesheet">
    <script th:src="@{/js/landingPage.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <!-- browser icon -->
    <link rel="icon" href="/img/logos/treecreateLogo/browserLogo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Simonetta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
</head>
<body>
<section id="pageContainer">
    <div id="popupContainer">
        <div id="popup"><p>Tak for at abonnerer!</p></div>
    </div>
    <section id="contentContainer">
        <div id="content">
            <div id="newsletterContainer">
                <div id="newsletter">
                    <div id="logo">
                        <img th:src="@{~/img/logos/treecreateLogo/TCFullLogoWhite.svg}" alt="Treecreate Logo"
                             id="treecreateLogo">
                    </div>
                    <span id="comingSoon">Kommer snart</span>
                    <br>
                    <span id="subscribe">Abonner for at få åbningstilbud!</span>
                    <div id="emailContainer">
                        <input type="email" id="emailInput" name="newsletterEmail" placeholder=" Din email..."
                               required>
                        <button id="emailSubmitBtn" type="button" onclick="submitPopup()">
                            Abonner
                        </button>
                    </div>
                    <div class="icon-row-top">
                        <a href="/facebook" target="popup"
                           onclick="window.open('https://www.facebook.com/treecreate.dk', 'name', 'width=600,height=800')">
                            <img th:src="@{~/img/logos/facebookWhiteLogo.svg}" alt="facebook" id="facebookLogo"
                                 class="icon"></a>
                        <a href="https://www.instagram.com/tree_create/" target="popup"
                           onclick="window.open('https://www.instagram.com/tree_create/','name','width=600,height=800')">
                            <img th:src="@{~/img/logos/instagramWhiteLogo.svg}" alt="instagram" id="instagramLogo" class="icon"></a>
                    </div>
                </div>
            </div>
            <div id="aboutUsContainer">
                <div id="aboutUs">
                    <section id="generalInformation">
                        <span class="title">Vil du lykkedes med den helt unikke julegave til hele familien?</span><br><br>
                        <p>
                            Få et personligt trædesign med din familie og få det laser skåret i smukt egetræ. Skab
                            sammenværdet i familien med en gave alle kan sætte pris på. Bestil det nemt og hurtigt.
                            Få løst alle julegaverne på en gang, og få det sendt lige til døren.
                        </p>

                        <span class="subTitle">Produkt</span><br>
                        <p>
                            Vælg et design. Skriv navnene ind som du ønsker på træet. Når du er tilfreds med træet trykker
                            du bestil, så sørger vi for resten. Når du køber flere træer på en gang får du op til 30% rabat.
                        </p>

                        <span class="subTitle">Nul Affald</span><br>
                        <p>
                            Når du betaler, planter du automatisk også et træ og du er dermed med til at styrke naturen.
                            Sammen planter 250+ træer for hvert egetræ vi bruger på at lave produktet. Indpakningen er også
                            lavet 100% af genbrugspapir med FSC certificering.
                        </p>
                    </section>

                    <!-- NEW SECTION -->
                    <section id="reviews01" class="scale-dependent-removal">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta6.png}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Peter</p>
                                <p>
                                    “Vildt detaljeret og noget mega lækkert træ. Så er der ordnet julegaver til
                                    hele familien for i år. mange tak!”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta4.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Amalie</p>
                                <p>
                                    “Ej hvor er den bare flot! og så holder med den kan stå på. Så fik vi også PDF så
                                    kan vi printe den og klistre den på vores postkasse.”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta5.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Emilie</p>
                                <p>
                                    “Så glad for mit familie træ. Mormor bliver så glad når hun ser det, det er jeg
                                    sikker på! Mange tak til Treecreate :D”
                                </p>
                            </div>
                        </div>
                    </section>

                    <!-- NEW SECTION -->
                    <section id="reviews" class="scale-dependent-removal">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree1.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Cristian</p>
                                <p>
                                    “I love the tree! It is some great quality wood and the design is cut with such
                                    detail its amazing!”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree2.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Anna</p>
                                <p>
                                    “Det er SÅ flot. Jeg er vildt glad for mit familie træet og hvordan det kom til at
                                    se ud. Har det stående midt i stuen og bliver så glad af at se det hver morgen.”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree3.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Laura</p>
                                <p>
                                    “Jeg har købt det til mine forældres guldbryllup og de elskede det! Det er virkelig
                                    smukt.”
                                </p>
                            </div>
                        </div>
                    </section>

                    <div class="mobile-review scale-dependent-show" style="display: none;">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta6.png}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Peter</p>
                                <p>
                                    “Vildt detaljeret og noget mega lækkert træ. Så er der ordnet julegaver til
                                    hele familien for i år. mange tak!”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta4.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Amalie</p>
                                <p>
                                    “Ej hvor er den bare flot! og så holder med den kan stå på. Så fik vi også PDF så
                                    kan vi printe den og klistre den på vores postkasse.”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta5.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Emilie</p>
                                <p>
                                    “Så glad for mit familie træ. Mormor bliver så glad når hun ser det, det er jeg
                                    sikker på! Mange tak til Treecreate :D”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree1.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Cristian</p>
                                <p>
                                    “I love the tree! It is some great quality wood and the design is cut with such
                                    detail its amazing!”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree2.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Anna</p>
                                <p>
                                    “Det er SÅ flot. Jeg er vildt glad for mit familie træet og hvordan det kom til at
                                    se ud. Har det stående midt i stuen og bliver så glad af at se det hver morgen.”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree3.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Laura</p>
                                <p>
                                    “Jeg har købt det til mine forældres guldbryllup og de elskede det! Det er virkelig
                                    smukt.”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footerContainer">
        <nav id="footer">
            <div class="footer-row">
                <div class="section">
                    <span class="title">Contact</span><br>
                    <p>
                        Email: info@treecreate.net
                    </p>
                </div>
                <div class="section">
                    <span class="title">Product</span><br><br>
                    Når du bestiller planter du et træ<br>
                    Indpakning af 100% genbrusmaterialer<br>
                    Produceret i Danmark<br>
                </div>

                <div class="section">
                    <span class="title">Adresse</span><br><br>
                    Danmark<br>
                    København
                </div>
            </div>
            <div class="footer-row">
                <div class="icon-row">
                    <img th:src="@{~/img/icons/danishTransportIcon.svg}" alt="Danish Transport" class="icon">
                    <img th:src="@{~/img/icons/ecoPackageIcon.svg}" alt="Eco friendly packaging" class="icon">
                    <img th:src="@{~/img/icons/recyclingWhiteIcon.svg}" alt="Recycled" class="icon">
                </div>
            </div>
            <div class="footer-row">
                <div class="section">
                    <hr id="footer-separator">
                </div>
            </div>
            <div class="footer-row" id="footer-bottom" >
                <div class="section">
                    Copyright © 2020 TreeCreate All Rights Reserved.
                </div>
            </div>
        </nav>
    </section>
</section>
</body>
</html>