<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Treecreate</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/landingPagePopup.css}" rel="stylesheet">
    <link th:href="@{/styles/landingPage.css}" rel="stylesheet">
    <script th:src="@{/js/landingPage.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <!-- browser icon -->
    <link rel="icon" href="/img/logos/treecreateLogo/browserLogo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Simonetta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
</head>
<body>
<section id="pageContainer">
    <div id="popupContainer">
        <div id="popup"><p>Thanks for subscribing ! :D</p></div>
    </div>
    <section id="contentContainer">
        <div id="content">
            <div id="newsletterContainer">
                <div id="newsletter">
                    <div id="logo">
                        <img th:src="@{~/img/logos/treecreateLogo/TCFullLogoWhite.svg}" alt="Treecreate Logo"
                             id="treecreateLogo">
                    </div>
                    <span id="comingSoon">Coming Soon</span>
                    <br>
                    <span id="subscribe">Subscribe for starting offers</span>
                    <div id="emailContainer">
                        <input type="email" id="emailInput" name="newsletterEmail" placeholder=" Your email..."
                               required>
                        <button id="emailSubmitBtn" type="button" onclick="submitPopup()">
                            Submit
                        </button>
                    </div>
                    <div class="icon-row-top">
                        <a href="/facebook" target="popup"
                           onclick="window.open('https://www.facebook.com/treecreate.dk', 'name', 'width=600,height=800')">
                            <img th:src="@{~/img/logos/facebookWhiteLogo.svg}" alt="facebook" id="facebookLogo"
                                 class="icon"></a>
                        <a href="https://www.instagram.com/tree_create/" target="popup"
                           onclick="window.open('https://www.instagram.com/tree_create/','name','width=600,height=800')">
                            <img th:src="@{~/img/logos/instagramWhiteLogo.svg}" alt="instagram" id="instagramLogo" class="icon"></a>
                    </div>
                </div>
            </div>
            <div id="aboutUsContainer">
                <div id="aboutUs">
                    <section id="generalInformation">
                        <span class="title">About us</span><br>
                        <span class="subTitle">Product</span><br>
                        <p>
                            Unique wood design. You get to pick the design and then create your own tree with the names
                            and text
                            you want. With several options of changing design, fonts and text, every product becomes
                            unique and
                            personal.
                        </p>

                        <span class="subTitle">Goal</span><br>
                        <p>
                            We aim to support wildlife and forests around the world by donating a percentage to
                            foundations
                            like
                            #TeamTrees that focus on planting trees. when you purchase something you automatically also
                            plant a
                            tree. You also have the option plant several extra trees when you order.

                            Our packaging is made of recycled plastic and paper and bio degradable paper tape. We focus
                            on
                            minimizing plastic production and try to have as much of the materials in the production be
                            reuse of
                            wood so no more trees are cut down.

                            Last but not least, we want to give every customer a personal and unique tree design that
                            they
                            can
                            use personally or as a great gift to friends and family. Our products are partially hand
                            made
                            and
                            the rest is up to the laser that cuts in great detail to make an astonishing work of art for
                            the
                            customer.
                        </p>

                        <span class="subTitle">Company</span><br>
                        <p>
                            Founded in 2020 by a small team of students from KEA.
                        </p>
                    </section>
                    <section id="reviews" class="scale-dependent-removal">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree1.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Cristian</p>
                                <p>
                                    “I love the tree! It is some great quality wood and the design is cut with such
                                    detail
                                    its amazing!”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree2.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Anna</p>
                                <p>
                                    “Det er SÅ flot. Jeg er vildt glad for mit familie træet og hvordan det kom til at
                                    se
                                    ud. Har det stående midt i stuen og bliver så glad af at se det hver morgen.”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree3.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Laura</p>
                                <p>
                                    “Jeg har købt det til mine forældres guldbryllup og de elskede det! Det er virkelig
                                    smukt.”
                                </p>
                            </div>
                        </div>
                    </section>
                    <div class="mobile-review scale-dependent-show" style="display: none;">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree1.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Cristian</p>
                                <p>
                                    “I love the tree! It is some great quality wood and the design is cut with such
                                    detail its amazing!”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree2.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Anna</p>
                                <p>
                                    “Det er SÅ flot. Jeg er vildt glad for mit familie træet og hvordan det kom til at
                                    se ud. Har det stående midt i stuen og bliver så glad af at se det hver morgen.”
                                </p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree3.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title">Laura</p>
                                <p>
                                    “Jeg har købt det til mine forældres guldbryllup og de elskede det! Det er virkelig
                                    smukt.”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footerContainer">
        <nav id="footer">
            <div class="footer-row">
                <div class="section">
                    <span class="title">Contact</span><br>
                    <p>
                        Email: info@treecreate.net
                    </p>
                </div>
                <div class="section">
                    <span class="title">Product</span><br><br>
                    Every purchase plants a tree<br>
                    Eco Friendly packaging<br>
                    Produced in Denmark<br>
                </div>

                <div class="section">
                    <span class="title">Address</span><br><br>
                    Denmark<br>
                    Copenhagen
                </div>
            </div>
            <div class="footer-row">
                <div class="icon-row">
                    <img th:src="@{~/img/icons/danishTransportIcon.svg}" alt="Danish Transport" class="icon">
                    <img th:src="@{~/img/icons/ecoPackageIcon.svg}" alt="Eco friendly packaging" class="icon">
                    <img th:src="@{~/img/icons/recyclingWhiteIcon.svg}" alt="Recycled" class="icon">
                </div>
            </div>
            <div class="footer-row">
                <div class="section">
                    <hr id="footer-separator">
                </div>
            </div>
            <div class="footer-row" id="footer-bottom" >
                <div class="section">
                    Copyright © 2020 TreeCreate All Rights Reserved.
                </div>
            </div>
        </nav>
    </section>
</section>
</body>
</html>