<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Treecreate</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/landingPagePopup.css}" rel="stylesheet">
    <link th:href="@{/styles/landingPage.css}" rel="stylesheet">
    <script th:src="@{/js/landingPage.js}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <!-- browser icon -->
    <link rel="icon" href="/img/logos/treecreateLogo/browserLogo.svg">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Simonetta">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
</head>
<body>
<section id="pageContainer">
    <div id="popupContainer">
        <div id="popup" th:text="#{landing_popup_valid}"><p></p></div>
    </div>
    <section id="contentContainer">
        <div id="content">
            <div id="newsletterContainer">
                <div id="newsletter">
                    <div id="logo">
                        <img th:src="@{~/img/logos/treecreateLogo/TCFullLogoWhite.svg}" alt="Treecreate Logo"
                             id="treecreateLogo">
                    </div>
                    <span id="comingSoon" th:text="#{landing_comingSoon}"></span>
                    <br>
                    <span id="subscribe" th:text="#{landing_comingSoon_subscribe}"></span>
                    <div id="emailContainer">
                        <input type="email" id="emailInput" name="newsletterEmail" placeholder=" Din email..."
                               required>
                        <button id="emailSubmitBtn" type="button" onclick="submitPopup()" th:text="#{landing_submit}"></button>
                    </div>
                    <div class="icon-row-top">
                        <a href="/facebook" target="popup"
                           onclick="window.open('https://www.facebook.com/treecreate.dk', 'name', 'width=600,height=800')">
                            <img th:src="@{~/img/logos/facebookWhiteLogo.svg}" alt="facebook" id="facebookLogo"
                                 class="icon"></a>
                        <a href="https://www.instagram.com/tree_create/" target="popup"
                           onclick="window.open('https://www.instagram.com/tree_create/','name','width=600,height=800')">
                            <img th:src="@{~/img/logos/instagramWhiteLogo.svg}" alt="instagram" id="instagramLogo"
                                 class="icon"></a>
                    </div>
                </div>
            </div>
            <div id="aboutUsContainer">
                <div id="aboutUs">
                    <section id="generalInformation">
                        <span class="title" th:text="#{landing_generalInfo_christmas_title}"></span><br><br>
                        <p th:text="#{landing_generalInfo_christmas_text}">

                        </p>

                        <span class="subTitle" th:text="#{landing_generalInfo_product_title}"></span><br>
                        <p th:text="#{landing_generalInfo_product_text}"></p>

                        <span class="subTitle" th:text="#{landing_generalInfo_waste_title}"></span><br>
                        <p th:text="#{landing_generalInfo_waste_text}"></p>
                    </section>

                    <!-- NEW SECTION -->
                    <section id="reviews01" class="scale-dependent-removal">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta6.png}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_peter_title}"></p>
                                <p th:text="#{landing_review_peter_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta4.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_amalie_title}"></p>
                                <p th:text="#{landing_review_amalie_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta5.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_emilie_title}"></p>
                                <p th:text="#{landing_review_emilie_text}"></p>
                            </div>
                        </div>
                    </section>

                    <!-- NEW SECTION -->
                    <section id="reviews" class="scale-dependent-removal">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree1.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_desi_title}"></p>
                                <p th:text="#{landing_review_desi_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree2.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_anna_title}"></p>
                                <p th:text="#{landing_review_anna_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree3.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_laura_title}"></p>
                                <p th:text="#{landing_review_laura_text}"></p>
                            </div>
                        </div>
                    </section>

                    <div class="mobile-review scale-dependent-show" style="display: none;">
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta6.png}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_peter_title}"></p>
                                <p th:text="#{landing_review_peter_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta4.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_amalie_title}"></p>
                                <p th:text="#{landing_review_amalie_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/insta5.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_emilie_text}"></p>
                                <p th:text="#{landing_review_emilie_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree1.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_desi_title}"></p>
                                <p th:text="#{landing_review_desi_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree2.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_anna_title}"></p>
                                <p th:text="#{landing_review_anna_text}"></p>
                            </div>
                        </div>
                        <div class="review">
                            <img th:src="@{~/img/images/landingPage/instagramTree3.jpg}" alt="Tree Design"
                                 class="image">
                            <div class="text">
                                <p class="title" th:text="#{landing_review_laura_title}"></p>
                                <p th:text="#{landing_review_laura_text}"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="footerContainer">
        <nav id="footer">
            <div class="footer-row">
                <div class="section">
                    <span class="title" th:text="#{landing_footer_contact_title}"></span><br>
                    <p th:text="#{landing_footer_contact_text}"></p>
                </div>
                <div class="section">
                    <span class="title" th:text="#{landing_footer_product_title}"></span><br><br>
                    <p th:text="#{landing_footer_product_text}"></p>
                </div>

                <div class="section">
                    <span class="title" th:text="#{landing_footer_address_title}"></span><br><br>
                    <p th:text="#{landing_footer_address_text}"></p>
                </div>
            </div>
            <div class="footer-row">
                <div class="icon-row">
                    <img th:src="@{~/img/icons/danishTransportIcon.svg}" alt="Danish Transport" class="icon">
                    <img th:src="@{~/img/icons/ecoPackageIcon.svg}" alt="Eco friendly packaging" class="icon">
                    <img th:src="@{~/img/icons/recyclingWhiteIcon.svg}" alt="Recycled" class="icon">
                </div>
            </div>
            <div class="footer-row">
                <div class="section">
                    <hr id="footer-separator">
                </div>
            </div>
            <div class="footer-row" id="footer-bottom">
                <div class="section" th:text="#{landing_footer_copyright}"></div>
            </div>
        </nav>
    </section>
</section>
</body>
</html>