<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Verification Guide</title>
    <link th:href="@{/img/logos/treecreateLogo/browserLogo.svg}" rel="icon">
    <link th:href="@{/styles/index.css}" rel="stylesheet">
    <link th:href="@{/styles/products.css}" rel="stylesheet">
    <link th:href="@{/styles/productNavbar.css}" rel="stylesheet">
    <link th:href="@{/styles/productFooter.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Share+Tech">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spectral">
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/basket.js}"></script>
    <script th:src="@{/js/cookiePrompt.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script th:replace="products/productTemplate :: #googleAnalyticsScript1"></script>
    <script th:replace="products/productTemplate :: #googleAnalyticsScript2"></script>
</head>
<body>
<section th:replace="products/productTemplate :: #navigationContainer"></section>
<section id="contentContainer">
    <div id="content">
        <div id="productContainer" style="min-height: 66vh">
            <div id="product"
                 style="display: flex; flex-direction: column; justify-items: center; align-items: center; text-align: center">
                <h2><span th:text="#{home.how.to.verify.email.title}"></span></h2>
                <p style="padding: 1vh; font-size: var(--fontRegular)">
                    <span th:text="#{home.how.to.verify.email.text1}"></span><br>
                    <span th:text="#{home.how.to.verify.email.text2}"></span> <br>
                    <br>
                    <span th:text="#{home.how.to.verify.email.text3}"></span>
                </p>
                <input type="button" id="verificationButton"
                       class="resendButton"
                       onclick="sendVerificationEmail()" th:value="#{home.resend.email}">
            </div>
        </div>
    </div>
</section>
<section th:replace="products/productTemplate :: #footerContainer"></section>
</body>
</html>