html, body
{
    /* document-wide styling */
    align-items: center;
    height: 100%;
}

#pageContainer
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-image: url('../img/images/backgrounds/forestDarkImage.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 120% 120%;
    background-size: cover;
}

#contentContainer
{
    /* Align the content in the center of the page horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#content
{
    margin: 13vh 15vw;
    width: 70vw;
    font-size: var(--fontRegular);
    text-align: center;
}

#aboutUs
{
    width: 100%;
}

#aboutUs .title
{
    font-size: var(--fontYourMom);
}

#aboutUs .subTitle
{
    font-size: var(--fontSubtitle);
}

#aboutUs section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 2.5vh 2.5vw;
}

#aboutUs .imageCollection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 34vw;
    margin: 1vh 1vw;
}

#aboutUs section img
{
    width: 34vw;
    height: 34vh;
    margin: 1vh 1vw;
}

#aboutUs section .imageCollection .image
{
    height: 30%;
    width: 30%;
    margin: 5%;
}

#aboutUs section .text
{
    width: 34vw;
    margin: 1vh 1vw;
}

#aboutUs #generalInformation
{
    display: inline-block;
}

#aboutUs #development
{
    text-align: left;
}

#aboutUs #familytrees
{
    text-align: right;
}

#aboutUs #specialRequests
{
    text-align: left;
}

#footer
{
    /* Override the template footer to adjust for the dark background */
    color: white;
    text-shadow: 0 1px 3px #000000;
}