#cookiePromptModal h2
{
    font-size: 48px;
    margin: 1vh 0 2vh 0;
}

#cookiePromptModal p
{
    margin: 0 0 0 2vh;
}

#cookieTerms a
{
    color: var(--textColor);
    text-decoration: underline;
}

#cookieTerms a:hover
{
    color: var(--actionColor);
}

.cookiePrompt
{
    padding: 3vh 5vh !important;
}

#cookiePromptModal button
{
    margin: 2vh 0 0 0 ;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.15);
    background-color: var(--actionColor);
    color: white;
    border-radius: 7px;
    width: 250px;
    height: 40px;
    font-size: 24px;
    border: none;
    transition: 0.5s;
}

#cookiePromptModal button:hover
{
    transform: scale(1.1);
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.11);
}

.center
{
    text-align: center;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    #cookiePromptModal
    {
        font-size: var(--mFontRegular);
    }

    #cookiePromptModal button
    {
        width: 350px;
        height: 50px;
        font-size: var(--mFontLarge);
    }
}
