#draggableBoxContainer
{
    position: absolute;
    width: 50vw;
    height: 50vw;
    z-index: 98;
}

.draggableBox
{
    display: none;
    border: none;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 99;
    top : 0;
    left : 0;
    height: 0;
    width: 0;
}

.draggableBoxUpperRow
{
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    height: 28%;
    width: 100%;
}

.draggableBoxMiddleRow
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 0.35vw;
    height: 44%;
    width: 100%;
}

.draggableBoxLowerRow
{
    flex-direction: row-reverse;
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    height: 28%;
    width: 100%;
}

.dragDraggableBoxButton
{
    visibility: hidden;
    background-image: url("../img/icons/dragIcon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 4vh; /*Needs to scale with parent size*/
    width: 4vh; /*Needs to scale with parent size*/
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
}

.deleteDraggableBoxButton
{
    visibility: hidden;
    background-image: url("../img/icons/exitIcon.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 4vh; /*Needs to scale with parent size*/
    width: 4vh; /*Needs to scale with parent size*/
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.25));
}

.draggableBox:hover
{
    z-index: 100;
}

.draggableBox:hover .dragDraggableBoxButton
{
    visibility: visible;
}

.draggableBox:hover .deleteDraggableBoxButton
{
    visibility: visible;
}

.draggableBox .icon
{
    width: 4vh;
    height: 4vh;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.draggableBox .input
{
    display: flex;
    height : 4vh;
    width : 7vw;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Spectral, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.38vh; /*Needs to scale with parent size*/
    line-height: 1.53vh; /*Needs to scale with parent size*/
    color: black;
    border: none;
    padding: 0;
}

.draggableBox .input:empty::before
{
    content: "Name...";
    color: grey;
}


.draggableBox .input:empty:focus::before
{
    content: "";
    color: black;
}