#emailContainer
{
    margin: 4vh;
}

#emailInput
{
    font-size: 18px;
    line-height: 18px;
    background: none;
    border: 2px var(--actionColor) solid;
    border-radius: 5px;
    height: 37px;
    min-width: 20vw;
    max-width: 30vw;
    width: 100%;
    margin-right: 1vw;
    color: black;
    opacity: 1;
    padding-left: 7px;
}

#emailInput::placeholder
{
    color: rgba(0,0,0,0.4);
    opacity: 1;
    font-size: 18px;
    line-height: 18px;
}

#emailSubmitBtn
{
    font-size: 18px;
    background: var(--actionColor);
    border-radius: 7px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 37px;
    width: 85px;
    border: none;
    color: white;
    transition: 0.3s;
}

#emailSubmitBtn:hover
{
    box-shadow: none;
    transform:scale(0.9);
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    #emailInput
    {
        max-width: 50vw;
        font-size: var(--fontSubtitle);
        height: 60px;
        padding-left: 14px;
    }

    #emailSubmitBtn
    {
        font-size: var(--mFontRegular);
        height: 60px;
        width: 110px;
    }

}
