@import "familyTreeAddToBasket.css";

#familyTreeDesignContainer
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 80vh;
    background-image: url("../img/images/treeDesign/tree1.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin:0 1vw;
}

#familyTreeOptionsContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 22vw;
    height: 80vh;
    margin:0 1vw;
    transform: translateY(15%);
}

#familyTreeOptionsContainer button
{
    margin: 1vh;
    padding: 0.5vh;
    background-color: var(--actionColor);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 7vw;
}

.largeButton
{
    width:15vw !important;
}

#fontSize
{
    flex-direction: row!important;
    margin-bottom:2vh;
}

#familyTreeOptionsContainer button:hover
{
    transform: scale(0.9);
    box-shadow: none;
}

.loadSave
{
    display: flex;
}

#bannerDesignInputContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#boxSizeInputContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}


