#addToBasketContainer
{
    width: 70vw;
    min-height: 50vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 23px;
    background-color: white;
}

#addToBasketHeader
{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;

    height: 5vh;
    margin: 2vh;
    width: 68vw;
}

#addToBasketBackBtn
{
    margin: 1vh;
    padding: 0.5vh;
    background-color: var(--actionColor);
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
}

#addToBasketBackBtn:hover
{

    margin: 0.75vh;
    padding: 0.75vh;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

#addToBasketContent
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;
}

#addToBasketTreeDesign
{
    min-width: 450px;
    width: 42vw;
    margin: 1vw;
    min-height: 30vh;
    height: fit-content;
    border: 1px var(--mainColor) solid;
}

#addToBasketTreeImage
{
    background-image: url("../img/images/backgrounds/addToBasketDesignTree.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 450px;
    min-height: 450px;
    width: 42vw;
    height: 27vw;
}

#addToBasketDetails
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-width: 200px;
    width: 20vw;
    margin: 1vw;
    min-height: 25vh;
    height: fit-content;
}

.addToBasketDetail
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 5vh;
    height: fit-content;
    padding: 1vh 0;
    width: 100%;
    margin: 1vh 0;
}

#addToBasketPrice
{
    flex-direction: row;
}

#priceLabel
{
    font-size: var(--fontSubtitle);
}

#priceInput
{
    font-size: var(--fontSubtitle);
    min-width: 100px;
    width: 10vw;
}

.fancySelection
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: var(--fontRegular);
}

.fancyHeader
{
    display: flex;
    flex-direction: row;
    justify-content: center;

    font-size: var(--fontRegular);
}

.addToBasketInfoIcon
{
    min-height: 25px;
    min-width: 25px;
    height: 2vh;
    width: 2vh;
    margin: 0 0.25vw;
    background-image: url("../img/icons/png/questionIcon.png");
    background-repeat: no-repeat;
}

.addToBasketInfoIcon:hover
{
    border-radius: 50%;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
}

.fancyContent
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.fancyInput
{
    min-width: 100px;
    width: 10vw;
    height: 4vh;
    margin: 0 0.5vw;
    border: 3px var(--actionColor) solid;
    border-radius: 8px;
    text-align: center;
}

.arrowLeft
{
    width: 4vh;
    height: 4vh;
    border: none;
    border-radius: 8px;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--actionColor);
    background-image: url("../img/icons/png/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
}

.arrowRight
{
    width: 4vh;
    height: 4vh;
    border: none;
    border-radius: 8px;

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background-color: var(--actionColor);
    background-image: url("../img/icons/png/arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    transform: rotate(180deg);
    /* All browsers support */
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

#recommendedSizes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#addToBasketButton
{
    height: 5vh;
    min-width: 125px;
    width: 15vw;
    margin: 1vw;
    background-color: #28C553;
    border: none;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.75);
}

#addToBasketButton:hover
{

    box-shadow: 0 2px 10px rgba(0, 0, 0, 1);
}

#addToBasketFooter
{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;

    width: 60vw;
    min-height: 10vh;
    height: fit-content;
    margin: 2vh;
}

#addToBasketFooter p
{
    font-size: var(--fontRegular);
    width: 30%;
    height: fit-content;
    opacity: 0.75;
}

.addToBasketForm input:focus
{
    outline: none;
    color: var(--mainColor);
}

.addToBasketForm input:hover
{
    color: var(--mainColor);
}

/* Modal stuff */
.modal-dialog
{
    margin: 10vh 15vw 0 15vw !important;
}

::placeholder
{
    color: var(--inactiveColor);
}

#addToBasketContainer button
{
    margin-top: 25px;
    background-color: var(--actionColor);
    color: white;
    border-radius: 7px;
    width: 40%;
    height: 40px;
    font-size: 24px;
    border: none;
    transition: 1s;
}

#addToBasketContainer button:hover
{
    transform: scale(1.1);
}

#addToBasketContainer button:focus
{
    outline: none;
}

#popupContainer /* Fuck off we are busy */
{
    display: none;
}