@import "familyTreeAddToBasket.css";
@import "checkBox.css";

#product
{
    align-items: center;
    flex-direction: row;
    flex-flow: row wrap;
}

#familyTreeDesignContainer
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    height: 50vw;
    min-width: 1000px;
    background-image: url("../img/images/treeDesign/tree1.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#familyTreeOptionsContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 175px;
    width: 20vw;
    height: fit-content;
    margin:0 1vw;
    margin-bottom: 5vw;
}

#familyTreeOptionsContainer button
{
    margin: 1vh;
    padding: 0.5vh;
    background-color: var(--actionColor);
    color: white;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    width: 7vw;
}

.largeButton
{
    width: 75% !important;
}

#fontSize
{
    flex-direction: row!important;
    margin-bottom:2vh;
}

#familyTreeOptionsContainer button:hover
{
    transform: scale(0.9);
    box-shadow: none;
}

.save
{
    display: flex;
}

#bannerDesignInputContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

#boxSizeInputContainer
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.howToTitle
{
    font-size: 24px;
    color: var(--actionColor);
    font-weight:bold;
}

.xButton
{
    width:4vh !important;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    .howToTitle
    {
        font-size: var(--mFontLarge);
    }

    .howToText
    {
        font-size: var(--mFontRegular);
    }

    #familyTreeOptionsContainer
    {
        width: 70%;
        font-size: var(--mFontRegular);
    }

    .fancyInput
    {
        width: 350px;
        font-size: var(--mFontRegular);
    }

    #infoText
    {
        margin-top: 80px;
    }

    .designOption
    {
        font-size: var(--mFontRegular);
        margin-right: 10px;
        margin-bottom: 10px;
    }

    .designOptionCheckbox
    {
        margin-top: 32px;
    }

    .largeButton
    {
        width: 50% !important;
    }
}

@media all and (min-width: 200px) and (max-width: 1024px) and (orientation:landscape)
{
    .xButton
    {
        width:4vw !important;
    }

    .fancyInput
    {
        height: 4vw;
    }

    #familyTreeDesignContainer
    {
        margin-top: 5vw;
    }
}

