#draggableBoxContainer
{

}

#draggableBoxSpawnzone
{

}

.draggableBox
{
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 100;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    height: 0px;
    width: 0px;
}

.draggableBox input
{

}

.draggableBox .icon
{
    width: 4vh;
    height: 4vh;
    vertical-align: middle;
}