/* Styling code shared across all screens  */

a
{   /* Remove hyper-link decoration */
    color: black;
    text-decoration: none;
}

:focus
{   /* remove an outline on focusing of an element */
    outline: none;
}