/* Styling code shared across all screens  */

body, html
{
    background-color: white;
    font-family: Spectral, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 27px;
    color: black;
    margin: 0;

    --mainColor: #F4CBA2;
    --mainSoftColor: rgba(244, 203, 162, 0.10);
    --navbarMainColor: #AF6826;
    --backgroundColor: #F5F2F2;
    --textColor: #000000;
    --actionColor: #EBC6AB;
    --inactiveColor: rgba(0, 0, 0, 0.4);
}

a
{ /* Remove hyper-link decoration */
    color: black;
    text-decoration: none;
}

:focus
{ /* remove an outline on focusing of an element */
    outline: none;
}