html, body
{
    /* document-wide styling */
    align-items: center;
    height: 100%;
    color: white;
    line-height: normal;
}

#pageContainer
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    /* This entire section gets overridden anyway
    background-image: url('../img/images/backgrounds/forestDarkImage.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 120% 120%;
    background-size: cover;
    */
}

#navBar
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 6vh;
    background-color: white;
}


#contentContainer
{
    /* Align the content in the center of the page horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#footerContainer
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;

    width: 100%;
    height: 20vh;
}

#navBar a
{
    padding: 0 13px;
    font-size: 1.8vw;
}

#navBar .icon
{
    width: 4vh;
    height: 4vh;
    vertical-align: middle;
}

#navBar-right .icon
{
    width: 2.7vh;
    padding-bottom: 0.6vh;
}

#content
{
    margin: 5vh 15vw;
    width: 70vw;
    font-size: 2.4vw;
    text-align: center;
    text-shadow: 0 1px 3px #000000;
}

#aboutUs
{
    width: 100%;
}

#aboutUs .title
{
    font-size: 4.75vw;
}

#aboutUs .subTitle
{
    font-size: 3.17vw;
}

#aboutUs section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 2.5vh 2.5vw;
}

#aboutUs .imageCollection
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 34vw;
    margin: 1vh 1vw;
}

#aboutUs section img
{
    width: 34vw;
    height: 34vh;
    margin: 1vh 1vw;
}

#aboutUs section .imageCollection .image
{
    height: 30%;
    width: 30%;
    margin: 5%;
}

#aboutUs section .text
{
    width: 34vw;
    margin: 1vh 1vw;
}

#aboutUs #generalInformation
{
    display: inline-block;
}

#aboutUs #development
{
    text-align: left;
}

#aboutUs #familytrees
{
    text-align: right;
}

#aboutUs #specialRequests
{
    text-align: left;
}


.footer-row
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#footer .icon
{
    height: 4vh;
    width: 4vh;
}

#footer .section
{
    margin: 0 2vw;
}

#footer .footer-row:first-child .section
{
    width: 25%;
}

#footer
{
    font-size: 1.8vw;
    text-shadow: 0 1px 3px #000000;
    text-align: center;
}

#footer .title
{
    font-size: 3vw;
}

#footer-bottom
{
    font-size: 1.4vw;
}

#footer-separator
{
    color: white;
    width: 70vw;
}

/* This is the stuff that is actually different from the AboutUs css as of version 0.4.1 */
/* I have separated the two so that aboutUs-related modifications don't break this landing page*/
body, html
{
    color: white;
    font-size: 1.25vw;
}
#pageContainer
{
    color: white;
    background-image: url('../img/images/backgrounds/forestDarkImage.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 120% 120%;
}

#content
{
    text-shadow: none;
}

#aboutUs
{
    color: white;
}
#aboutUs .title
{
    color: white;
}

#aboutUs #reviews
{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#reviews .review
{
    width: 25%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#reviews .review .image
{
    width: 90%;
    height: auto;
}

#reviews .title
{
    font-family: Share Tech, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: white;
    font-size: 2.4vw;
}
#reviews span.title
{
    margin-bottom: 2vw;
}

#reviews .review .text
{
    width: 100%;
    height: auto;
    font-family: Simonetta, sans-serif;
    font-style: normal;
    font-weight: normal;
}

#footer
{
    text-shadow: none;
}

#footerContainer
{
    height: 30vh;
}

/* Newsletter thing */
#newsletterContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 5vh;
    margin-bottom: 10vh;
}

#newsletter
{
    color: white;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}
#treecreateLogo
{
    width: 24vw;
    height: auto;
    color: white;
}

#comingSoon
{
    font-size: 6.25vw;
    line-height: 6.25vw;
}
#subscribe
{
    font-size: 1.56vw;
    line-height: 1.56vw;
}

#emailContainer
{
    margin-top: 1vh;
}

#emailInput
{
    font-size: 1.25vw;
    background: none;
    border: 2px white solid;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
    height: 4vh;
    width: 20vw;
    margin-right: 1vw;
}

#emailInput::placeholder
{
    color: white;
    opacity: 1;
    font-size: 1.25vw;
    line-height: 1.3vw;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
}

#emailSubmitBtn
{
    font-size: 1.25vw;
    background: white;
    border-radius: 7px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.7);
    height: 4vh;
    width: 6vw;
    border: none;
    color: #AF6826;
}