@import "popup.css";

.loginForm
{
    position: absolute;
    text-align: center;
    font-size: 24px;
    color: black;
}

.modal-dialog
{
    margin: 6vh auto !important;
}

.modal-content
{
    border-radius: 23px !important;
    padding: 3vh 12vh;
}

.iconList
{
    display: flex;
    margin: 0vw 9.2vw;
}

.iconList a
{
    margin: 0px 10px;
}

.loginForm h1
{
    font-size: 48px;
    padding: 3vh 0vh 6vh 0vh;
}

.loginForm p
{
    text-align: left;
}

.loginForm a
{
    color: var(--inactiveColor);
}

#forgotPassword:hover, #signUpButton:hover
{
    color: var(--mainColor);
    text-decoration: none;
    cursor: pointer;
}

.justText:hover
{
    text-decoration: none;
    color: var(--inactiveColor);
}

.logo
{
    margin:2vh 0.5vh;
    width: 5vh;
}

.logo:hover
{
    transform: scale(1.1);
}

.loginForm input
{
    padding: 0px 0px 3px 7px;
    text-align: left;
    border-style: hidden;
    width: 100%;
    transition: color, 1s;
}

.loginForm hr
{
    border-top: 2px solid var(--inactiveColor);
    margin-top: 3px;
}

.loginForm input:focus
{
    outline: none;
    color: var(--mainColor);
}

.loginForm input:hover
{
    color: var(--mainColor);
}

::placeholder
{
    color: var(--inactiveColor);
}

.loginForm button
{
    margin-top: 25px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.17);
    background-color: var(--actionColor);
    color: white;
    border-radius: 7px;
    width: 90%;
    height: 40px;
    font-size: 24px;
    border: none;
    transition: 1s;
}

.loginForm button:hover
{
    transform: scale(1.1);
}

.loginForm button:focus
{
    outline: none;
}

.termsAndConditions
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 14px;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    .termsAndConditions
    {
        font-size: var(--mFontRegular);
    }

    .loginForm a
    {
        margin-bottom: 1vh;
    }

    .loginForm button
    {
        font-size: var(--mFontLarge);
        height: 3vh;
    }

    .modal-content
    {
        border-radius: 23px !important;
        padding: 3vh 6vh;
        font-size: var(--mFontLarge);
    }

    .loginForm h1
    {
        font-size: var(--mFontTitle);
        padding: 0 0 2vh 0;
    }

    .modal-content
    {
        padding: 4vh;
    }

    .modal-dialog
    {
        margin: 6vh auto !important;
    }
}

@media all and (min-width: 200px) and (max-width: 1024px) and (orientation:landscape)
{
    .loginForm button
    {
        height: 5vw;
    }
    .modal-content
    {
        padding: 5vw;
    }
}

