.orderContainer
{
    display: none;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;

    min-width: 250px;
    width: 90%;
    min-height: 110px;
    height: fit-content;
    font-size: var(--fontRegular);
    border: 2px var(--mainColor) solid;
    border-radius: 10px;
    margin: 1vh 0;
}

.orderInfo
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    min-height: 30px;
    width: 40%;
    min-width: 200px;
    padding: 10px;
    margin: 5px;
}

.orderDesignInfo
{
    min-width: 230px;
    width: 60%;
}

.orderShipmentInfo
{
    min-width: 120px;
    width: 35%;
}

.orderHeader
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-flow: row wrap;
    text-align: center;
    border-bottom: 2px var(--mainColor) solid;
    word-wrap: normal;
}

.orderHeader .orderInfo
{
    font-size: var(--fontRegular);
    width: 30%;
    min-width: 100px;
    height: fit-content;
    min-height: 30px;
}

.orderTitle
{
    font-size: var(--fontSubtitle);
}

.orderTransactionId
{
    font-size: var(--fontSmall);
    margin: 0.5vw;
    opacity: 0.8;
}

#orderInfoDisclaimer
{
    font-size: var(--fontSmall);
    margin: 1vw;
    opacity: 0.8;

    order: 99;
}

.orderDesignContainer
{
    display: none;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;

    font-size: var(--fontSmall);

    border: 1px var(--actionColor) solid;
    border-radius: 12px;
    padding: 5px;
}

.orderDesignEntry
{
    margin: 0 10px;
}

.viewDesignBtn, .orderCompletePaymentBtn
{
    align-self: flex-end;
    min-width: 50px;
    width: fit-content;
    padding: 0 1vw;
    background-color: var(--actionColor);
    border-radius: 12px;
    border: none;
    color: white;
}

.orderCompletePaymentBtn
{
    display: none;
}

.viewDesignBtn:hover
{
    transform: scale(0.9);
    box-shadow: none;
}