@import "login.css";
@import "cookiePrompt.css";
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css");

#navbarContainer
{
    position: -webkit-sticky; /* Safari compatibility*/
    top: 0;
    z-index: 100;
}

#navBar
{
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    overflow: hidden;

    width: 100%;
    min-height: 6vh;
    height: fit-content;
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

#navBar img.filterColor
{
    /* Applies a specific color to any img(and is an svg) that is marked with a class .filterColor */
    /* Hex-to-filter converter: https://codepen.io/sosuke/pen/Pjoqqp */
    /* Current color: #000000 */
    filter: invert(0%) sepia(13%) saturate(7499%) hue-rotate(305deg) brightness(97%) contrast(102%);
}

#navBar a
{
    display: inline-block;
    font-size: var(--fontRegular);
    letter-spacing: 0.36px;
    height: 4vh;
    padding: 0px 20px;
    width: fit-content;
    color: var(--navbarMainColor);
    position: relative; /* Used to align the hoverLine element properly */
    text-decoration: none; /* Boostrap import for the login breaks the decoration and it has to be nullified again*/
}

a::before {
    display: block;
    content: attr(title);
    font-weight: bold;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

#navBar a .hoverLine
{
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    color: white;
    border: none;
    margin: 0
}

#navBar a:hover .hoverLine
{
    display: inline-block;
    color: var(--navbarMainColor);
    background-color: var(--navbarMainColor);
}

#navBar-right a:hover
{
    transform: scale(1.15);
}

#navBar .icon
{
    width: 3.5vh;
    vertical-align: middle;
}

#navBar-left .icon:hover
{
    transform: scale(1.1);
}

#navBar-right .icon
{
    width: 2.7vh;
}

#navBar-right
{
    margin: 1.5vh 1vh 0vh 0vh;
}

#changeLanguageIcon .icon:hover
{
    transform: scale(1.15);
}

#profileButton
{
    /* Controlled with login.js#setLoginStatus() */
    display: none;
}

#treecreateLogo
{
    height: 100%;
    width: 15vh;
    vertical-align: middle;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    #navBar
    {
        padding: 1vh 0 0 0;
        height: 4vh;
        min-height: 0vh !important;
    }

    #navBar .icon
    {
        width: 1.5vh;
    }

    #treecreateLogo
    {
        width: 7vh;
    }
}

#verificationBanner
{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    background-color: var(--actionColor);
}

#verificationButton
{
    padding: 0 0.5vw;
    border: none;
    border-radius: 12px;
    background-color: var(--actionColor);
    color: white;
}
