/* Styling code shared across the product screens */

html, body
{
    /* document-wide styling */
    align-items: center;
    height: 100%;
}

#productContainer
{
    /* Align the content in the center of the page horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh; /* Account for the navbar height */
    height: fit-content;
}

#product
{
    padding: 10vh;
}
