html, body
{
    /* document-wide styling */
    align-items: center;
    height: 100%;
}

#pageContainer
{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 120% 120%;
    background-size: cover;
}

#contentContainer
{
    /* Align the content in the center of the page horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6vh;
}

#content
{
    margin: 8vh 15vw;
    width: 70vw;
    font-size: var(--fontRegular);
    text-align: center;
}

#aboutUs
{
    width: 100%;
}

#aboutUs .title
{
    font-size: var(--fontYourMom);
}

#aboutUs .subTitle
{
    font-size: var(--fontSubtitle);
}

#aboutUs section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 2.5vh 2.5vw;
}

#aboutUs .imageCollection
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 34vw;
    margin: 1vh 1vw;
}

#aboutUs section img
{
    height: 300px;
    margin: 1vh 1vw;
}

#aboutUs section .text
{
    width: 34vw;
    margin: 1vh 1vw;
}

#aboutUs #generalInformation
{
    display: inline-block;
    width: 90%;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    #content
    {
        margin: 0vh 5vw;
        width: 90%;
    }
}

