/* Styling code shared across the product screens */

html, body
{
    /* document-wide styling */
    align-items: center;
    height: 100%;
}

#productContainer
{
    /* Align the content in the center of the page horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95vh; /* Account for the navbar height */
    height: fit-content;
}

#product
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#familyTreeDesignContainer
{
    width: 50vw;
    height: 80vh;
    background-image: url("../img/images/treeDesign/tree1.svg");
    background-repeat: no-repeat;
    margin:0 1vw;
}

#familyTreeOptionsContainer
{
    width: 20vw;
    height: 80vh;
    background: bisque;
    margin:0 1vw;
}