html, body
{
    background: var(--backgroundColor);
}

a
{
    color: var(--textColor);
    text-decoration: none;
    cursor: pointer;
}

a:hover
{
    color: var(--textColor);
    text-decoration: none;
    cursor: pointer;
}

#contentContainer
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: fit-content;
    min-height: 64vh;
    width: 80vw;
    margin: 0 10vw;
    padding-top: 10vh;
    padding-bottom: 6vh;
}

#profileNavContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-evenly;
    height: fit-content;
    width: 20vw;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.profileNav
{
    margin: 0 0.25vw 0.4vh 0;
    padding: 1vh;
    background: white;
    text-align: center;
    font-size: var(--fontRegular);
    transition: 0.3s;
}

.profileNav:hover
{
    background: var(--mainColor);
}

.active
{
    border-left: 0.5vw solid var(--actionColor);
    background: var(--mainSoftColor);
    height: 100%;
}

#details
{
    width: 100%;
    min-height: 50vh;
    height: fit-content;
    background: white;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    padding: 1vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}

#details label
{
    font-weight: 1;
}

#formUpdateInfo
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-content: space-between;
    font-size: var(--fontRegular);
    margin: 7vh 0;
}

#formUpdateInfo input
{
    border: 1px grey solid !important;
    border-radius: 2px;
    margin: 0.5vh;
    padding: 5px 10px;
    width: 50%;
}

#formTitle
{
    font-size: var(--fontTitle);
    text-align: center;
    margin: 3.5vh 2vh 1vh 2vh;
}

#formUpdateInfo label
{
    margin: 1vh 1vw;
}

#formUpdateInfo input
{
    border: 1px black solid;
    border-radius: 2px;
    width: 40vw;
}

#formUpdateInfo input:hover
{
    color: var(--actionColor);
}

#accountInfoSubmitBtn
{
    width: 40%;
    padding: 5px 2vw;
    border-radius: 12px;
    margin-bottom: 3.5vh;
    border: none;
    background-color: var(--actionColor);
    color: white;
    font-size: var(--fontRegular);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
}

#accountInfoSubmitBtn:hover
{
    transform:scale(0.9);
    box-shadow: none;
}

.updateInfoBtn
{
    margin-bottom: 9vh !important;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    #contentContainer
    {
        padding-bottom: 0;
    }
    .updateInfoBtn
    {
        margin-bottom: 4vh !important;
    }
    #formUpdateInfo
    {
        margin: 2.5vh 0;
    }
}

@media all and (min-width: 200px) and (max-width: 1024px) and (orientation:landscape)
{
    #details
    {
        margin-bottom: 13vh;
    }

    #contentContainer
    {
        padding-top: 20vh;
    }
}