.collectionContainer
{
    display: none;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;

    min-width: 250px;
    width: 90%;
    height: fit-content;
    font-size: var(--fontRegular);
}

.designImage
{
    min-width: 100px;
    width: 20vw;
    height: 20vw;
    border-radius: 12px;
    margin: 3vw 0;
    background-image: url("../img/images/backgrounds/addToBasketDesignTree2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.designInfo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-width: 200px;
    border-radius: 24px;
    width: 50vw;
    margin: 2vw 0;
}

.infoHeader span
{
    margin: 1vw;
}

.infoContent span
{
    margin-left: 1vw;
}

.infoHeader
{
    display: flex;
    justify-content: space-between;
    width: 80%;
    border-bottom: 1.5px solid var(--mainColor);
}

.infoContent
{
    display: flex;
    margin: 1vh 0;
    flex-direction: column;
    width: 80%;
}

.infoFooter
{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: fit-content;
    margin: 1vh 0;
}

.collectionInfoBtn
{
    width: 30%;
    padding: 5px 2vw;
    border-radius: 12px;
    border: none;
    background-color: var(--actionColor);
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0.8vw;
}

.collectionInfoBtn:hover
{
    transform:scale(0.9);
    color: white;
    box-shadow: none;
}

#checkoutButton, #addDesignButton
{
    text-align: center;
    visibility: hidden;
    font-size: var(--fontRegular);
    width:59%;
    margin: 1vh 0 1vh 0;
}

@media all and (min-width: 200px) and (max-width: 1024px)
{
    .designInfo
    {
        width: 30vh;
        font-size: 26px;
    }

    #checkoutButton, #addDesignButton
    {
        width:62%;
        font-size: 26px;
    }
}

@media all and (min-width: 200px) and (max-width: 1024px) and (orientation:landscape)
{
    .designInfo
    {
        width: 60vw !important;
    }
}